   /* 设置图片上传区域的大小 */
   
   .layui-card-body {
       width: 500px;
   }
   /* 隐藏 */
   
   .dis-no {
       display: none;
   }
   /* 图片编辑容器 */
   
   .row1 {
       display: flex;
   }
   /* 图片裁剪容器 */
   
   .cropper-box {
       width: 350px;
       height: 350px;
       background-color: cyan;
       overflow: hidden;
   }
   /* 图片预览区域主容器 */
   
   .preview-box {
       display: flex;
       /* 从上往下排列 */
       flex-direction: column;
       flex: 1;
       /* 侧轴居中 */
       align-items: center;
   }
   /* 预览区域图片容器属性 */
   
   .img-preview {
       overflow: hidden;
       border-radius: 50%;
   }
   /* 预览区域图片宽高100 */
   
   .w100 {
       width: 100px;
       height: 100px;
       background-color: gray;
   }
   /* 预览区域图片宽高50 */
   
   .w50 {
       width: 50px;
       height: 50px;
       background-color: gray;
       margin-top: 50px;
   }
   /* 图片预览区域 文字属性 */
   
   .size {
       font-size: 12px;
       color: gray;
       text-align: center;
   }
   /* 按钮容器 */
   
   .row2 {
       display: flex;
       /* 容器内的元素靠右对齐 */
       justify-content: flex-end;
       margin-top: 20px;
   }